
html,
body {
    margin: 0;
    font-size: 100%;
    line-height: 1.5;
	  font-family: "Myriad Pro", "Helvetica Neue", Helvetica; 
    box-sizing : border-box;
    background-color: rgb(253, 237, 199);
    

  
}

body a {
    text-decoration: blue;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;

}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 6rem;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
  line-height: 3;
  color: inherit;
}
#menu {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
    width: 150px;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
    font-style: italic;
    font-size: 16px;
  }
  

  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  

  #menu li a {
    display: inline-block;
    color: #000000;
  }


html {
  scroll-behavior: smooth;
}
body img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#yo {
  font-size: 32px;
}

.somo{
  height: 20px;
  width: 20px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
}

p {
    margin: 0;
    padding-left: 50px;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    font-style: italic;
}

/*-- header --*/
header {
    position: absolute;
    width: 100%;
    padding: 15px ;
    z-index: 9;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
}

.reffera{
  color: rgb(82, 0, 0);
}

.layer {
    background: rgb(253, 237, 199);
}

.banner-text-section {
    padding: 2vw 0vw 11vw;
    box-sizing: border-box;
    width: 60%;
    text-align: justify;
}

h3.slider_heading_text span {
    color: rgb(7, 7, 7);
}
h2.slider_heading_text,h3.slider_heading_text {
    font-size: 3em;
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
    color: rgb(0, 0, 0);
    padding-left: 50px;
    font-weight: 700;
}
h2.slider_heading_text span,h3.slider_heading_text span {
    color: #000000;
}
h4.slider_heading_text {
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 200;
    color: #fff;
}
